# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Временные файлы
*.log
*.tmp
node_modules/
dist/

# Среды разработки
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Личные конфигурации и API ключи
config.js

# Node modules
node_modules/

# IDE-файлы
.idea/
.vscode/

# OS-файлы
.DS_Store
Thumbs.db 